<a href="https://colab.research.google.com/github/ejihoon6065/-/blob/master/xgboost%2BSMOTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [155]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [156]:
import pandas as pd

In [157]:
train = pd.read_csv('/content/drive/My Drive/santander-train.csv')
test = pd.read_csv('/content/drive/My Drive/santander-test.csv')

In [158]:
train.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [159]:
train.shape

(76020, 371)

In [160]:
test.shape

(75818, 370)

In [161]:
train.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

In [162]:
test.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=370)

In [163]:
train.index = train.ID

In [164]:
test.index = test.ID

In [165]:
train.drop('ID', axis=1, inplace = True)
test.drop('ID', axis=1, inplace = True)

In [166]:
y=train.TARGET
train = train.iloc[:, :-1]
train.shape, test.shape

((76020, 369), (75818, 369))

In [167]:
y.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [168]:
unsatisfied_cnt = (y[y==1].count())
total_cnt = y.count()
print('unsatisfied 비율은 {0:2f}'.format((unsatisfied_cnt / total_cnt)))

unsatisfied 비율은 0.039569

In [169]:
train.describe()
train.replace(-999999,2, inplace = True)
from imblearn.over_sampling import SMOTE
smote = SMOTE(k_neighbors=5, random_state =2019)

smoted_data, smoted_label = smote.fit_resample(train, y)
# print('원본 데이터의 클래스 비율 \n{}'.format(pd.get_dummies(label).sum()))
# print('\nSMOTE 결과 \n{}'.format(pd.get_dummies(smoted_label).sum()))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [170]:
from sklearn.model_selection import train_test_split

In [171]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size = 0.2, random_state = 0)

In [172]:
train_cnt = y_train.count()

In [173]:
test_cnt = y_test.count()

In [174]:
print('학습 세트 Shape:{0}, 테스트 세트 Shape:{1}'.format(X_train.shape, X_test.shape))

학습 세트 Shape:(60816, 369), 테스트 세트 Shape:(15204, 369)

In [175]:
print('학습 세트 레이블 값 분포 비율')

학습 세트 레이블 값 분포 비율

In [176]:
print(y_train.value_counts()/train_cnt)

0    0.960964
1    0.039036
Name: TARGET, dtype: float64

In [177]:
print('\n 테스트 세트 레이블 값 분포 비율')

 테스트 세트 레이블 값 분포 비율

In [178]:
print(y_test.value_counts()/test_cnt)

0    0.9583
1    0.0417
Name: TARGET, dtype: float64

In [179]:
from xgboost import XGBClassifier

In [180]:
from sklearn.metrics import roc_auc_score 
import time

In [181]:
xgb_clf = XGBClassifier(n_estimators=10, random_state=156)

In [182]:
startTime = time.time()

In [183]:
xgb_clf.fit(X_train, y_train, early_stopping_rounds=100, eval_metric='auc', eval_set=[(X_train, y_train), (X_test, y_test)])

[0]	validation_0-auc:0.799928	validation_1-auc:0.803548
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 100 rounds.
[1]	validation_0-auc:0.802222	validation_1-auc:0.805222
[2]	validation_0-auc:0.80819	validation_1-auc:0.813162
[3]	validation_0-auc:0.8127	validation_1-auc:0.813243
[4]	validation_0-auc:0.81648	validation_1-auc:0.816979
[5]	validation_0-auc:0.816018	validation_1-auc:0.816629
[6]	validation_0-auc:0.816474	validation_1-auc:0.817776
[7]	validation_0-auc:0.818148	validation_1-auc:0.818464
[8]	validation_0-auc:0.81806	validation_1-auc:0.818295
[9]	validation_0-auc:0.817039	validation_1-auc:0.818087

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=10, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=156,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [184]:
print('Spent', time.time() - startTime, 'sec')

Spent 7.085553407669067 sec

In [185]:
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test)[:,1])

In [186]:
print('ROC AUC: {0:.4f}'.format(xgb_roc_score))
pred_test = pd.DataFrame(test.index)
pred_test

ROC AUC: 0.8185

           ID
0           2
1           5
2           6
3           7
4           9
...       ...
75813  151831
75814  151832
75815  151833
75816  151834
75817  151837

[75818 rows x 1 columns]

In [187]:
submit = pd.DataFrame({'ID' : pred_test['ID'], 'TARGET': xgb_clf.predict_proba(test)[:,1]})

In [188]:
submit.to_csv('/content/drive/My Drive/santander-train_smote.csv', index=False)